@charset "utf-8";
/* CSS Document */

/* http://wadegarrett.com/ */

html{
	height: auto;
	width: 100%;
	position: relative;
    min-height: 100%;
}

body{
	margin: 0 auto;
	width: 80%;
	padding: 0;
}

#center_image{
	background-image: url("images/landscape3.png");
	background-size: 100%;
	height: 100%;
	width: 100%;
	box-shadow: 0px 90px 50px 0 white inset, 0px -90px 50px 0 white inset; 
	background-position: center;
	background-repeat: no-repeat;
	margin-top: 70px;
	padding-top: 20px; 
}


#design{
	font-size: 8vw;
	text-align: center;
	vertical-align: middle;
	padding-top: 5px; 
	margin-top: 68px;
	font-family: 'Raleway', Helvetica, sans-serif;
	color: black;
}

.creative_design{
	text-align: center;
	font-family: 'Ubuntu Condensed', sans-serif;
	color:black;
	font-size: 25px;
}

header ul {
	list-style-type: none;
	text-align: center;
	padding-bottom: 4px;
}

header li {
	display: inline-block;
}

header {
	width: 100%;
}

.header{
	width: 100%;
	height: 100px;
	background-color: white;
	position: fixed;
	top: 0;
	left: 0;
}

.header_name{
	position: fixed;
	top: 0;
	left: 0;
}

.header_name h3{
	font-family: 'Raleway', "sans-serif";
	font-weight: 700;
	font-size: 27px;
	padding-left: 22px;
}

.header_name a{
	text-decoration: none;
	color: black;
}

.header_name a:hover{
	text-decoration: underline;
}


.header_nav{
	position: fixed;
	top: 0;
	right: 0;
	padding-right: 22px;
} 

#nav_button{
	padding: 5px;
	margin: 11px;
	font-family: 'Raleway', "sans-serif";
	font-weight: 500;
	font-size: 22px;
	float: left;
}

nav a{
	position: relative;
  	color: black;
  	text-decoration: none;
}

nav a:hover{
	color: black;
	
}

nav a:before{
	content: "";
 	position: absolute;
  	width: 100%;
  	height: 2px;
  	bottom: -3px;
  	left: 0;
  	background-color: #000;
  	visibility: hidden;
    -webkit-transform: scaleX(0);
  	transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

nav a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.active{
	border-bottom: 3px solid black;
}

/*nav a{
	text-decoration: none;
	color: black;
}

nav a:hover{
	font-weight: 700;
} */

#home_text_container{
	width: 70%;
	margin: auto;
	padding-bottom: 10%;
}

.home_text{
	font-family: 'Raleway', "sans-serif";
	font-weight: 500;
	font-size: 1.74em;
	letter-spacing: 1px;
	word-spacing: 4px;
}

.body_header{
	font-family: 'Raleway', "sans-serif";
	font-weight: 500;
	font-size: 50px;
	margin-top:100px;
}

.padding-footer{
	padding-bottom: 8%;
}

.logo{
	height: 80px;
	width: 80px;
	padding-left: 40px;
	padding-top: 15px;
}

/******* Shine Effect *****************/
.shine{

}

/**
 * The "shine" element
 */

.shine:after {
  content: "";
  position: absolute;
  top: -110%;
  left: -210%;
  width: 200%;
  height: 200%;
  opacity: 0;
  transform: rotate(30deg);
  
  background: rgba(255, 255, 255, 0.13);
  background: linear-gradient(
    to right, 
    rgba(255, 255, 255, 0.13) 0%,
    rgba(255, 255, 255, 0.13) 77%,
    rgba(255, 255, 255, 0.5) 92%,
    rgba(255, 255, 255, 0.0) 100%
  );
}

/* Hover state - trigger effect */

.shine:hover:after {
  opacity: 1;
  top: -30%;
  left: -30%;
  transition-property: left, top, opacity;
  transition-duration: 1.5s, 1.5s, 0.15s;
  transition-timing-function: ease;
}

/* Active state */

.shine:active:after {
  opacity: 0;
}

/************************ Footer ***********************************/


#footer-container{
	position: absolute;
	bottom:0;
	left: 0;
	right: 0;
	width: 100%;
	height: 65px;
	background-color: gray;
	font-family: 'Raleway', "sans-serif";
	font-weight: 400;
}

.copywrite{
	float: left;
	font-size: 110%;
	padding-left: 4%;
}

.copywrite h3{
	font-weight: 400;

}

.icons{
	margin-top: .4%;
	padding-right: 4.5%;
	font-size: 48px;
	float: right;
}

.icons a{
	color: black;
}

.icons a:hover{
	color: white;
}

.footer_icon_spacing{
	padding-left: 10px;
}

/************ Projects *****************/

#projects_page{
	margin-top: 11%;
}

.project{
	font-family: 'Raleway', "sans-serif";
	font-size: 1.2em;
	padding-bottom: 1%;
}

.project h3{
	font-weight: 700;
}


.project img{
	border:2px solid #021a40;
	opacity: 0.6;
	transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}

.project img:hover{
	opacity: 1;
}


/*********** Experience ****************/

#experience_page{
	margin-top: 11%;
}

.experience{
	font-family: 'Raleway', "sans-serif";
	font-size: 1.2em;
	padding-bottom: 1%;
}

.experience h3{
	font-weight: 700;
}

.experience img{
	padding-top: 3%;
	padding-bottom: 3%;
}



/*********** Resume **************/

#resume_page{
	margin-top: 11%;
}

.resume_display{
	width: 100%;
	margin: auto;

	margin-bottom: 50px;
}

.resume_pdf{
	margin: 0 auto;
}


/******************Bio***********************/

#bio_page{
	margin-top: 11%;
}

#bio_page p{
	font-family: 'Raleway', "sans-serif";
	font-size: 1.5vw;
}

.bio_pic{
	margin-right: 15px; 
	margin-bottom: 5px;
	border:2px solid #021a40;
}




/*********** Contact ************/

#contact_page{
	margin-top: 11%;
}

.by{
	font-family: 'Raleway', "sans-serif";
	font-size: 2vw;
}

.method{
	font-family: 'Raleway', "sans-serif";
	font-size: 1.5vw;
}

.method a{
	text-decoration: none;
}

.method a:hover{
	text-decoration: underline;
}

input[type=text], input[type=email], textarea{
	width: 50%;
	margin-top: 2%;
	padding: 0.5%;
	box-sizing: border-box;
	font-size: 1.5em;
	font-family: 'Raleway', "sans-serif";
}

textarea {
	height: 150px;
}

.submit-button {
	width: 10%;
	height: 40px;
	font-size: 1em;
	font-family: 'Raleway', "sans-serif";
	margin-top: 2%;
}
