@charset "utf-8";
/* CSS Document */

/* http://wadegarrett.com/ */

html{
	height: auto;
	width: 100%;
	position: relative;
    min-height: 100%;
}

body{
	margin: 0 auto;
	width: 80%;
	padding: 0;
}

#center_image{
	background-image: url("images/landscape3.png");
	background-size: 100%;
	height: 100%;
	width: 100%;
	box-shadow: 0px 90px 50px 0 white inset, 0px -90px 50px 0 white inset; 
	background-position: center;
	background-repeat: no-repeat;
	margin-top: 70px;
	padding-top: 20px; 
}


#design{
	font-size: 8vw;
	text-align: center;
	vertical-align: middle;
	padding-top: 5px; 
	margin-top: 68px;
	font-family: 'Raleway', Helvetica, sans-serif;
	color: black;
}

.creative_design{
	text-align: center;
	font-family: 'Ubuntu Condensed', sans-serif;
	color:black;
	font-size: 25px;
}

header ul {
	list-style-type: none;
	text-align: center;
	padding-bottom: 4px;
}

header li {
	display: inline-block;
}

header {
	width: 100%;
}

.header{
	width: 100%;
	height: 70px;
	background-color: white;
	position: fixed;
	top: 0;
	left: 0;
}

.header_name{
	position: fixed;
	top: 0;
	left: 0;
}

.header_name h3{
	font-family: 'Raleway', "sans-serif";
	font-weight: 700;
	font-size: 27px;
	padding-left: 22px;
}

.header_name a{
	text-decoration: none;
	color: black;
}

.header_name a:hover{
	text-decoration: underline;
}


.header_nav{
	position: fixed;
	top: 0;
	right: 0;
	padding-right: 22px;
} 

#nav_button{
	padding: 5px;
	margin: 11px;
	font-family: 'Raleway', "sans-serif";
	font-weight: 500;
	font-size: 22px;
	float: left;
}

nav a{
	text-decoration: none;
	color: black;
}

nav a:hover{
	font-weight: 700;
}

#home_text_container{
	width: 70%;
	margin: auto;
	padding-bottom: 10%;
}

.home_text{
	font-family: 'Raleway', "sans-serif";
	font-weight: 500;
	font-size: 1.74em;
	letter-spacing: 1px;
	word-spacing: 4px;
}

.body_header{
	font-family: 'Raleway', "sans-serif";
	font-weight: 500;
	font-size: 50px;
	margin-top:100px;
}

/************************ Footer ***********************************/


#footer-container{
	position: absolute;
	bottom:0;
	left: 0;
	right: 0;
	width: 100%;
	height: 65px;
	background-color: gray;
	font-family: 'Raleway', "sans-serif";
	font-weight: 400;
}

.copywrite{
	float: left;
	font-size: 110%;
	padding-left: 4%;
}

.copywrite h3{
	font-weight: 400;

}

.icons{
	margin-top: .4%;
	padding-right: 4.5%;
	font-size: 48px;
	float: right;
}

.icons a{
	color: black;
}

.icons a:hover{
	color: white;
}

.footer_icon_spacing{
	padding-left: 10px;
}

/************ Projects *****************/

#projects_page{

}

/*********** Experience ****************/



/*********** Resume **************/

#resume_page{
	
}

.resume_display{
	width: 100%;
	margin: auto;

	margin-bottom: 50px;
}

.resume_pdf{
	margin: 0 auto;
}


/******************Bio***********************/

#bio_page{

}

#bio_page p{
	font-family: 'Raleway', "sans-serif";
	font-size: 1.5vw;
}

.bio_pic{
	margin-right: 15px; 
	margin-bottom: 5px;
	border:2px solid #021a40;
}




/*********** Contact ************/

section{
	background: #D1A91E;
	font-family:'Ubuntu Condensed', sans-serif;
	width: 1000px;
	font-size: 40px;
	margin-top: 70px;
	margin-bottom: 100px;
	border:1px solid #313030;
	border-radius: 7px 7px;
}

#table{
	margin: 0 auto;	
	
}


